<h1>My Contacts</h1>
<%= form_tag("/contacts/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<ul class="collection"> 
  <% @contacts.each do |contact| %> 
    <li class="collection-item materialize-red.lighten-5">
    <strong><%= link_to contact.name, contact_path(contact.id) %></strong>  
    <%= link_to('Delete', contact_path(contact), method: :delete, confirm: 'Are you sure?') %>  </li>
  <% end %> 
</ul> 
<%= link_to("Add Contact", new_contact_path, class: "waves-effect waves-light btn") %>
<a href="/contacts/new">Add Contact</a>
<i class="material-icons left"></i>
